# =========================================================
# Configuración del Servidor
# =========================================================
PORT=3002

# =========================================================
# Configuración de la Base de Datos
# =========================================================
DB_HOST=mysql-reservas
DB_PORT=3306
DB_USER=usuario
DB_PASSWORD=usuario123
DB_NAME=db_smartride_reservas

# =========================================================
# Configuración de RabbitMQ (Instancia compartida)
# =========================================================
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=smart_ride_exchange

# =========================================================
# Autenticación JWT (debe coincidir con users-service)
# =========================================================
AUTH_JWT_SECRET=your-secret-key-here