# =========================================================
# Configuración del Servidor
# =========================================================
PORT=3002  # Se cambio de puerto

# =========================================================
# Configuración de la Base de Datos
# =========================================================
DB_HOST=mysql
DB_PORT=3306
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_NAME=nombre_de_tu_base_de_datos

# =========================================================
# Configuración de RabbitMQ
# =========================================================
RABBITMQ_URL=amqp://usuario:contraseña@rabbitmq
RABBITMQ_EXCHANGE=nombre_exchange

