# =========================================================
# Configuración del Servidor
# =========================================================
PORT=3001

# =========================================================
# Configuración de la Base de Datos
# =========================================================
DB_HOST=localhost
DB_PORT=3306
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_NAME=nombre_de_tu_base_de_datos

# =========================================================
# Configuración de RabbitMQ
# =========================================================
RABBITMQ_URL=amqp://usuario:contraseña@localhost
RABBITMQ_EXCHANGE=nombre_exchange

